*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

#score{
    position:absolute;
    top: calc(0% + 20px);
    right: calc(0% + 20px);
    font-size: 30px;
    color:white;
    min-width: 150px;
    min-height: 100px;
    width: 20%;
    height: 5%;
    z-index: 1;
    text-align: end;
    font-family: 'Press Start 2P'
}

#replay 
{
    display: none;
    align-items: center;
    z-index: 2;
    position:absolute;
    top: -100%;
    left:5%;
    width: 90%;
    height:90%;
    background: rgb(36, 37, 38, 0.9);
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    border-radius: 22.5px;
}

#classement {
    position:absolute;
    border-radius: 11.25px;
    right: calc(0% + 20px);
    top: calc(0% + 20px);
    width: 40%;
    height: calc(100% - 40px);
    background: #242526;
    border: 1px solid rgba(255, 255, 255, 0.25);
    z-index:2;
    overflow:hidden;
}

table {
    border-radius: 11.25px;
    height: 100%;
    width:100%;
    background: #F5F5F5;
    font-family: neue-haas-grotesk-display;
    border-collapse: collapse; 
}

td {
    text-align: center;
}

thead {
    width:100%;
    height: 9%;
    color: #BCBCFF;
    background:#242526;
    font-weight: 600;
}

thead tr {
    color: #BCBCFF;
    background:#242526;
}

tbody tr:nth-of-type(odd) {
    background: #202122
}

tbody tr { 
	background: #242526; 
    color: #F9F9F9;
}

tbody tr td:nth-child(4) {
    font-weight: 600;
    color: #BCBCFF;
}


#toggle {
    position:absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: calc(0% + 20px);
    top: calc(0% + 50px);
    width: 50%;
    height: calc(100% - 40px);
    font-family: 'Press start 2P';
    color: #bcbcff;
}

#toggle button {
    margin-top: 5%;
    background:none;
    color: #bcbcff;
    font-family: neue-haas-grotesk-text;
    font-weight:700;
    font-size: 1.2em;
    cursor:pointer;
    border: 1px solid rgba(255, 255, 255, 0.125);
    border-radius: 7.5px;
    width: 50%;
    height: 50px;
    box-shadow: #9595ca 0px 4px 8px -2px, #BCBCFF 0px 0px 0px 1px;
}

#toggle button:nth-child(3) {
    background: #bcbcff;
    color:#242526;
    transition:0.3s;
}

#toggle button:nth-child(3):hover {
    background: #242526;
    color: #bcbcff;
    transition:0.3s;
    box-shadow: #9595ca 0px 4px 8px -2px, #BCBCFF 0px 0px 0px 1px;
}